# Config
notebook==6.4.4
ipywidgets==7.6.5
python-dotenv==0.19.2
hydra-core==1.1.1
hydra-colorlog==1.1.0
pre-commit==2.17.0
# ML
numpy==1.22.2
scikit-learn==1.0.2
scipy==1.8.0
pandas==1.4.1
data-science-types==0.2.23
torch==1.10.2
torchvision==0.11.3
torchtext==0.11.2
torchmetrics==0.7.2
pytorch-lightning==1.5.10 # 1.6.1 breaks on GPU
einops==0.4.0
Pillow==9.0.1
opencv-python==4.5.5.62
wandb==0.12.14
datasets==1.18.3
tokenizers==0.11.5
matplotlib==3.5.1
faiss-cpu==1.7.2
networkx==2.8
pydot==1.4.2
plotly==5.7.0
#
tqdm==4.62.3
rich==12.2.0
pygraphviz==1.9 # needs graphviz installed on OS
